{% extends 'base/post_base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/article_base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css">
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/static/js/post/article_base.js"></script>
{% endblock %}
{% block body_attribs %}
    {{ super() }}
    data-spy="scroll"
    data-target=".scrollspy"
{% endblock body_attribs %}
{% block content %}
    <div class="row post-content" style="height: 100%">
        <div class="col-md-3 hidden-print hidden-xs hidden-sm" id="col-slide"
             style="background-color: #2b2b2b;height: 100%;">
            <img src="/static/imgs/avatar.jpeg"
                 class="img-responsive img-circle center-block"
                 style="margin-top: 60px"
                 alt="Cinque Terre" width="150" height="150">
            <div class="sidebar-module" style="color: #ffffff;padding-left: 10px">
                <div>
                    {{ title_html }}
                    <div class="sidebar-module-inset">
                        <h5 class="sidebar-title fa fa-angle-down" style="color: #dddddd;font-size: 16px"> 摘要</h5>

                        <p>{{ summary }}</p>
                    </div>
                    <hr class="side-hr">
                    <div>
                        <h5 class="sidebar-title fa fa-user-o" style="color: #dddddd;font-size: 16px">
                            作者</h5>{{ authors }}
                    </div>
                    <hr class="side-hr">
                    <div>
                        <h5 class="sidebar-title fa fa-tags" style="color: #dddddd;font-size: 16px"> 标签</h5>{{ tags }}
                    </div>
                    <hr class="side-hr">
                </div>
                <div data-spy="affix" id="directory">
                    <h5>目录</h5>
                    <div class="toc scrollspy">
                        {{ toc }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="background-color: #dddddd"
             style="padding-bottom: 60px;margin-left: 5px;margin-right: 5px">
            {{ blog_content }}
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{ site_id }}" data-title="{{ title }}"
                 data-url="{{ article_url }}" style="margin-bottom: 50px"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name: "kimxuherokuapp"};
                (function () {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();

            </script>
            <!-- 多说公共JS代码 end -->
        </div>
    </div>
{% endblock %}

