{% extends "bootstrap/base.html" %}

{% block title %}Kimxu's blog{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favorite.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='imgs/favorite.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">主页</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <p id="formServerCategory" style="display: none">{{ category }}</p>
                <ul class="nav navbar-nav" id="navbar">
                    <li><a href="{{ url_for('main.page_article_by_category',category='技术') }}">技术</a></li>
                    <li><a href="{{ url_for('main.page_article_by_category',category='生活') }}">生活</a></li>
                    <li><a href="{{ url_for('main.page_article_by_category',category='杂谈') }}">杂谈</a></li>
                    <li><a href="{{ url_for('main.tags') }}">标签云</a></li>
                    <li><a href="{{ url_for('main.about')}}">关于</a></li>
                    {#                    <li class="dropdown">#}
                    {#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                    {#                            杂谈 <b class="caret"></b>#}
                    {#                        </a>#}
                    {#                        <ul class="dropdown-menu">#}
                    {#                            <li><a href="#">jmeter</a></li>#}
                    {#                            <li><a href="#">EJB</a></li>#}
                    {#                            <li><a href="#">Jasper Report</a></li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li><a href="#">分离的链接</a></li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li><a href="#">另一个分离的链接</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </ul>
                {% if current_user!=undefined %}
                    {% if current_user.is_authenticated %}
                        <a class="navbar-text navbar-right" style="margin-right: 10px"
                           href="{{ url_for('uploads.upload_article') }}">上传MD</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

{% block html_attribs %}
    {{ super() }}
    ng-app="App"
{% endblock html_attribs %}