a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #2b2b2b;
    text-decoration: none;
}

a:visited {
    color: #2b2b2b;
    text-decoration: none;
}

a:active {
    color: #2b2b2b;
    text-decoration: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

.showPagers{
    display: block;
}

.hidePagers{
    display: none;
}